# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Vite build output
vite.config.ts.timestamp*

# Supabase
.supabase

# Testing
coverage

# Production build folders
/build
/out

# Cursor specific files
cursor/settings.json
